<div class="index">
  <%= link_to "List Equipment", new_item_path %>
  <% @items.each do |item| %>
    <div class="index-items">
      <h3><%= link_to item.title, item %></h3>
      <small><%= item.category %></small><br /><br />
      <small><%= item.user %></small><br />
      <div><%= image_tag item.image.url(:thumb) if item.image? %></div>
      <p><%= item.description %></p>
      <p>$<%= item.rate %> per day</p>
    </div>
  <% end %>
</div>
