<div class="row show">
  <div class="col-md-8 col-md-offset-2">
    <div class="show-image"><%= image_tag @item.image.url(:medium, timestamp:false) if @item.image? %></div>
    <div><h2><%= @item.title %></div></h2>
    <p> placeholder </p>
    <div><p><%= @item.description %></p></div>
    <div><p><%= @item.specs %></p></div>
    <p>$<%= @item.rate %> per day</p>
    <div style='width: 400px;'>
      <div id="map" style='width: 400px; height: 200px;'></div>
    </div>
    <div class="btn btn-default hire-button"><%= link_to "Hire now", new_item_order_path(@item) %></div>
  </div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @item.latitude %>,
      "lng": <%= @item.longitude %>,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
