<div class="row show">
  <div class="col-md-8 col-md-offset-2">
    <div class="show-image"><%= image_tag @item.image.url(:medium, timestamp:false) if @item.image? %></div>
    <div><h2><%= @item.title %></div></h2>
    <p><%= @item.category.name + " | " + @item.location.name %></p>
    <div><p><%= @item.description %></p></div>
    <div><p><%= @item.specs %></p></div>
    <p>$<%= @item.rate %> per day</p>
    <div class="btn btn-default hire-button"><%= link_to "Hire now", new_item_order_path(@item) %></div>
  </div>
</div>
