<!DOCTYPE html>
<html>
<head>
  <title>Hire Share</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <p class="flash-error"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="flash-notice"><%= alert %></p>
    <% end %>
    <%= yield %>
</body>
</html>
